# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

basic_example.bin
c_plus_plus_serializer
container_example.bin
custom_bitset_class.bin
custom_class.bin
deque_of_strings.bin
map_of_custom_class.bin
map_of_string_to_list_of_strings.bin
map_of_strings.bin
multiset_of_strings.bin
raw_memory_example.bin
set_of_strings.bin
template_class.bin
unordered_map_of_strings.bin
zipper_container_example.bin
